*{
  margin: 0;
  padding: 0;
}
.card{
  position:fixed;
  display: flex !important;
  margin: auto !important;
  /* padding: 20px !important; */
  
  text-align: center !important;
  z-index: 99;
  background-color: blueviolet !important;
}
.read{
  width: 90%;
  margin: auto;
}